*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f9;
}
article[data-testid="test-profile-card"] {
    justify-content: center;
    width: 40%;
    display: block;
    height: auto;
    background-color: white;
    box-shadow: 10px 10px 10px ;
    border: none;
    border-radius: 60px;
    margin: 500 auto 100 auto;
    margin-top: 70px;
    padding: 80px;
    text-align: center;
}
img[data-testid="test-user-avatar"] {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
h2{
    margin: 10px 0;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section{
    padding: 5px;
}
a{
    text-decoration: none;
    color: #0077b6;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (min-width: 600px) {
    article[data-testid="test-profile-card"] {
        display: block;
        align-items: center;
        gap: 20px;
    }
    figure, .details {
        flex: 1;
    }
    img{
        width: 100%;
    }
}